
.Photo{
    background-image: url('./../images/konstantin.jpeg');
}

.project1{
    background-image: url('./../images/chargebuddy.png');
    cursor: none;    
}
.project2{
    background-image: url('./../images/projectimator.png');
    cursor: none;
}
.project3{
    background-image: url('./../images/cryptelligent.png');
    cursor: none;
}
.project4{
    background-image: url('./../images/employee.png');
    cursor: none;
}